<div class="page-container">
    <div class="hero-container">
    <h2 routerLink="/products" class="hero glitch layers" data-text="ELITE CARS VAULT"><span>ELITE CARS VAULT</span></h2>
    <div class="environment"></div>
    <footer>
        <nav>
            <ul class="left">
                <li><a href="">Sell on the Vault</a></li>
                <li><a routerLink="/legal">Terms and conditions</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
            <ul class="right">
                <li><a routerLink="/users">Users</a><br></li>
                <li><a routerLink="/login">Login</a><br></li>
                <li><a routerLink="/me">Account</a><br></li>
            </ul>
        </nav>
    </footer>
    </div>
</div>

<!-- <div id="home-page"> -->
    <!-- <div class="background"></div> -->
    <!-- <div class="title"> -->
        <!-- <h1 class="glitch" data-glitch="ELITE CARS VAULT" routerLink="/products">elite cars vault</h1> -->
        <!-- <h2 class="hero glitch layers" data-text="ELITE CARS VAULT"><span>ELITE CARS VAULT</span></h2> -->
    <!-- </div> -->
    <!--  -->
<!-- </div> -->
