@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900);

#home-page {
    height: 100vh;
    background-image: url(../../../../assets/images/detailed_cars.png);
    background-position: center;
    background-size: cover;
    position: relative;

    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 2rem;

        nav {
            width: 100%;
            display: flex;
            justify-content: space-between;

            ul {
                padding: 0;
                list-style-type: none;
                line-height: 1.5;
            }

            .right {
                justify-self: right;
            }

            a {
                color: white;
                text-transform: uppercase;

                &:hover {
                    filter: drop-shadow(0 1px 3px);
                    color: white;
                    // color: black;
                    // background: white;
                }
            }
        }
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            width: min-content;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Alegreya Sans SC', sans-serif;
            font-size: 13rem;
            color: red;
            mix-blend-mode: screen;
            padding: 0;
            margin: 0;
            line-height: 0.8;
        }
    }

    .glitch {
        font: {
            size: 8.125em;
            family: 'Raleway', sans-serif;
            weight: 700;
        }

        text-decoration: none;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        color: #fff;
        letter-spacing: 5px;
        cursor: pointer;

        &:before,
        &:after {
            display: block;
            content: attr(data-glitch);
            text-transform: uppercase;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: .8;
        }

        &:after {
            color: #f0f;
            z-index: -2;
        }

        &:before {
            color: #0ff;
            z-index: -1;
        }

        &:hover {
            &:before {
                animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both 5;
                animation-iteration-count: infinite;
            }

            &:after {
                animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both 5;
                animation-iteration-count: infinite;
            }
        }
    }

    @media only screen and (max-width: 400px) {
        .glitch {
            font-size: 3em;
        }
    }


    @keyframes glitch {
        0% {
            transform: translate(0)
        }

        20% {
            transform: translate(-5px, 5px)
        }

        40% {
            transform: translate(-5px, -5px)
        }

        60% {
            transform: translate(5px, 5px)
        }

        80% {
            transform: translate(5px, -5px)
        }

        to {
            transform: translate(0)
        }
    }

}