.main-wrapper {
    min-height: 69vh;
    padding: 8rem 5rem 8rem;
}

.legal {
    padding: 3rem;
    border: 0.1rem solid;
    border-color: rgb(28, 60, 116);
    border-radius: 1rem;
    background-color: rgba(245, 245, 245, 0.9);
    box-shadow: 10px 5px 5px #59595f70;

    p {
        text-align: justify;
    }

    h1 {
        margin-bottom: 5rem;
        text-align: center;
        text-decoration: underline;
    }
}
