.car-panel {
    padding: 1rem 2rem;
    width: 115rem;

    .values {
        display: flex;
        flex-direction: row;

        .admin-text {
            color: var(--gold);
            background-color: var(--dark);
            font-weight: bold;
            text-align: center;
        }

        i {
            color: var(--dark);
            margin: 0 1rem 0 0;
        }

        .display-details {
            row-gap: 0.5rem;
            max-height: 100px;
            height: 100px;
            overflow-y: auto;
            border: 1px solid #bebebe;
            padding-right: 1rem;
            
        }
    }

    .brand-model {
        width: 100%;
    }

    .display-form {
        display: flex;
        align-items: center;
        height: 4rem;
        min-height: 4rem;
    }
    
    .detail-button {
        margin-left: 1rem;
        width: 10%;
        height: 10%;
        min-width: 4rem;
        min-height: 4rem;
    }
    
    .create-button {
        width: 25%;
        margin-top: 5rem;
    }
}
