<div class="wrapper">
    <form>
        <h1>Contact us !</h1>
        <fieldset>
            <legend>Personal informations</legend>
            <div>
                <label class="civ" for="civility">Civility</label>
                <div>
                    <input type="radio" id="female" name="civility" value="Female">
                    <label for="female">Female</label>
                </div>
                <div>
                    <input type="radio" id="male" name="civility" value="Male">
                    <label for="male">Male</label><br>
                </div>
            </div>
    
            <label for="fname">Firstname</label>
            <input type="text" id="fname" name="fname" placeholder="Complete this field"><br>
    
            <label for="lname">Lastname</label>
            <input type="text" id="lname" name="lname" placeholder="Complete this field"><br>
    
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Complete this field"><br>
    
            <label for="phonenumber">Phone number</label>
            <input type="tel" id="phonenumber" name="phonenumber" placeholder="Complete this field" min="1000000000"
                max="9999999999"><br>
        </fieldset>
    
        <fieldset>
            <legend>Message</legend>

            <label for="content">Content</label>
            <textarea id="content" name="content" placeholder="Complete this field"></textarea><br>
        </fieldset>
        <input type="submit" value="Send it">
    </form>
</div>