#forbidden {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .forbidden-title {
        font-weight: 700;
        font-size: 20rem;
        color: var(--gold);
        margin: 3rem;
    }

    .forbidden-subtitle {
        font-weight: 500;
        font-size: 3rem;
        color: var(--dark);
        text-align: center;
    }
}