<div>
    <label for="Username">Username:</label>
    <input
        #username
        class="input-font"
        type="text"
        color=""
        id="Username"
        name="Username"
        value={{currentUser.Name}}
        (keyup.enter)="userModify(username.value, email.value, adresse.value, password.value)"
    /><br />
    <label for="password">Password:</label>
    <input
        #password
        class="input-font"
        type="text"
        id="password"
        name="password"
        (keyup.enter)="userModify(username.value, email.value, adresse.value, password.value)"
    /><br />
    <label for="email">Email:</label>
    <input
        #email
        class="input-font"
        type="text"
        onfocus="if(this.value=='Enter Email here'){this.value='';}"
        onblur="if(this.value==''){this.value='Enter Email here';}"
        id="email"
        name="email"
        value={{currentUser.Email}}
        (keyup.enter)="userModify(username.value, email.value, adresse.value, password.value)"
    /><br />
    <label for="adresses">Adresse:</label>
    <input
        #adresse
        class="input-font"
        type="text"
        id="adresses"
        name="adresses"
        value={{currentUser.Adresse}}
        (keyup.enter)="userModify(username.value, email.value, adresse.value, password.value)"
    /><br />
    <button (click)="userModify(username.value, email.value, adresse.value, password.value)" type="button">
        Modify!</button
    ><br />
    <a routerLink="/home">Log in</a><br />
    <a routerLink="/user/delete/{{paramID}}">Delete User</a>
    <p>{{message}}</p>
</div>
