<div class="main-wrapper">
    <form class="main-panel">
        <h1 class="title">Log in</h1>
        <div class="line">
            <i class="fa-solid fa-at"></i>
            <input style="margin-bottom: 15px;" class="input-form" #emailInput placeholder="Email" type="text" autofocus
                (keydown.enter)="validation(emailInput.value, password.value)" />
        </div>
        <div class="line">
            <i class="fa-solid fa-lock"></i>
            <input class="input-form" #password placeholder="Password" type="password"
                (keydown.enter)="validation(emailInput.value, password.value)" />
        </div>
        <button class="button" id="validate_button" (click)="validation(emailInput.value, password.value)" type="button">
            Login
        </button>
        <div class="register-text">
            <p routerLink="/auth/register" class="register-link">
                <i class="fa fa-key"></i>
                Don't have an account? Sign up!
            </p>
        </div>
        <app-message [message]="message"></app-message>
    </form>
</div>