<div class="main-wrapper">
    <div class="legal">
        <h1>Terms and Conditions of Sale for Elite Cars Vault</h1>
        
        <p>1. By using our website, Elite Cars Vault, you agree to be bound by the following terms and conditions of sale. If
            you do not agree to these terms and conditions, you should not use our website.</p>
        
        <p>2. Elite Cars Vault is an online marketplace for buying and selling vehicles between private individuals.</p>
        
        <p>3. All vehicles listed on our website are sold by private individuals and not by Elite Cars Vault. We do not own or
            represent any of the vehicles listed on our website.</p>
        
        <p>4. Elite Cars Vault is not responsible for any inaccuracies in the information provided by private sellers regarding
            their vehicles. It is the responsibility of the buyer to verify all information before making a purchase.</p>
        
        <p>5. Elite Cars Vault does not guarantee or warranty any of the vehicles listed on our website. It is the
            responsibility of the buyer to inspect and test drive the vehicle before making a purchase.</p>
        
        
        <p>6. Elite Cars Vault reserves the right to remove any listing from our website at any time, for any reason.</p>
        
        <p>7. Elite Cars Vault is not responsible for any disputes or issues that may arise between buyers and sellers. It is
            the responsibility of both parties to resolve any disputes or issues in a timely and amicable manner.</p>
        
        <p>8. Elite Cars Vault is not responsible for any damages or losses that may occur during the delivery of a vehicle.</p>
        
        <p>9. Elite Cars Vault reserves the right to make changes to these terms and conditions of sale at any time, without
            notice.</p>
    </div>
</div>
