<div class="line">
    <input #detailNameInput [(ngModel)]="carDetailName" class="details" placeholder="Detail Name">
    <input [(ngModel)]="carDetailValue" class="details" placeholder="Detail Value"
        (keydown.enter)="addCarDetail()">
    <button (click)="addCarDetail()" class="detail-button button">+</button>
</div>
<div class="display-details">
    <div *ngFor="let detail of carDetails; let i = index" class="detail-line line">
        <input [(ngModel)]="detail.DetailName" class="details details-to-change" type="text"
            placeholder="Detail Name">
        <input [(ngModel)]="detail.DetailValue" class="details details-to-change" type="text"
            placeholder="Detail Value">
        <button (click)="carDetails.splice(i, 1)" class="detail-button button">-</button>
    </div>
</div>