.wrapper {
    display: flex;
    align-items: center;

    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 8rem 2rem;
}

.simple-tab {
    width: 97%;
    margin: 1rem auto 2rem auto;

    th {
        color: var(--gold);
        background-color: var(--darker);
    }

    tr:nth-child(odd) {
        background-color: var(--cream);
    }
}

.simple-tab,
.simple-tab th,
.simple-tab td {
    border: 1px solid #000;
    border-collapse: collapse;
}

.users-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 5rem;
    column-gap: 1rem;
    margin: 2rem 1rem;

    .user-card {
        width: 25rem;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 2rem;
        overflow: hidden;

        &:hover {
            transform: scale(1.05);
            .user-image{
                filter: hue-rotate(100deg)
            }
        }

        .user-image {
            width: 100%;
            height: auto;
        }

        .user-text {
            padding: 1rem;

            .user-name {
                font-size: 18px;
                font-weight: bold;
                margin: 1rem 0;
            }

            .user-description {
                font-size: 14px;
                color: #666;
                margin: 1rem 0;
            }
        }


        .user-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            background-color: #f8f8f8;

            .user-price {
                font-size: 16px;
                font-weight: bold;
                color: #00b894;
            }

            .user-owner {
                font-size: 14px;
                color: #666;
            }
        }
    }
}