<div class="wrapper">

    <!-- <div class="users-container">
        <div class="user-card" *ngFor="let user of user_list">
            <a routerLink="../user/{{ user._id }}">
                <img src="../../../../assets/images/user2.png" alt="{{ user.username }}" class="user-image">
                <div class="user-text">
                    <h2 class="user-name">{{ user.username }}</h2>
                    <p class="user-description">{{ user.role }}</p>
                    <p class="user-description">{{ user.email }}</p>
                <p class="user-description">{{ user.adresse }}</p>
            </div>
        </a>
    </div>
</div> -->

<table class="simple-tab">
    <tr>
        <th>_id</th>
        <th>username</th>
        <th>role</th>
        <th>email</th>
        <th>adresse</th>
    </tr>
    <tr *ngFor="let user of user_list">
        <td><a routerLink="../user/{{ user._id }}">{{ user._id }}</a></td>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.adresse }}</td>
    </tr>
</table>
</div>