<div class="wrapper">
    <div class="users-container">
        <div routerLink="/account/user/{{ user.id }}" class="user-card" *ngFor="let user of userList">
            <div class="user-image">
                <img src="../../../../../../assets/images/user2.png" alt="{{ user.Name }}">
            </div>
            <div class="user-text">
                <h1 class="user-name">Name : {{ user.LastName }} {{ user.Name }}</h1>
                <h3 class="user-details">Email : {{ user.Email }}</h3>
                <hr class="solid">
                <h3 class="user-details">Address :{{ user.Address }}{{', '+ user.PostalCode }} {{ user.City }}</h3>
            </div>
        </div>
    </div>
</div>