<div class="wrapper">
    <div class="user-panel">
        <h1 class="title">Your account</h1>
        <p *ngIf="data.role == 'admin'" class="admin-text">Admin</p>
        <div class="line">
            <i class="fa-solid fa-at"></i>
            <input #email value="{{ data.email }}" class="input-form" type="text" id="email" name="email"/>
        </div>

        <div class="line">
            <i class="fa fa-user"></i>
            <input #username autofocus value="{{ data.username }}" class="input-form" type="text" id="username" name="username"/>
        </div>

        <div class="line">
            <i class="fa-solid fa-location-dot"></i>
            <input #adresse value="{{ data.adresse }}" class="input-form" type="text" id="adresses" name="adresses"/>
        </div>

        <div class="line">
            <i class="fa-solid fa-lock"></i>
            <input #password placeholder="Password" class="input-form" type="password" id="password" name="password"/>
        </div>

        <button class="button" (click)="userModify(username.value, email.value, adresse.value, password.value)">Modify account</button>

        <div class="products-text">
            <p routerLink="/products/{{ userID }}" class="products-link">
                <i class="fa-solid fa-eye"></i>
                See all your products !
            </p>
        </div>

        <button class="button delete" (click)="userDelete()">Delete account</button>
        <p class="message">{{ message }}</p>
    </div>
</div>
