<div class="wrapper">
    <div class="user-panel">
        <h1 class="title">Your account</h1>
        <p *ngIf="data.Role == 'admin'" class="admin-text">Admin</p>
        <div class="line">
            <i class="fa-solid fa-at"></i>
            <input #email autofocus value="{{ data.Email }}" class="input-form" type="text" id="email" name="email" />
        </div>

        <div class="line">
            <i class="fa fa-user"></i>
            <input #username value="{{ data.Name }}" class="input-form" type="text" id="username" name="username" />
        </div>

        <div class="line">
            <i class="fa-solid fa-location-dot"></i>
            <input #Address value="{{ data.Address }}" class="input-form" type="text" id="Addresss" name="Addresss" />
        </div>
        <div class="line">
            <i class="fa-solid fa-lock"></i>
            <input #password placeholder="Password" class="input-form" type="password" id="password" name="password" />
        </div>
        <div style="display: flex; flex-direction: row; margin-top: 3rem;">
            <button class="button"
                (click)="userModify(username.value, email.value, Address.value, password.value)">Modify
                account</button>
            <div style="display: flex; align-items: center; flex-direction: column;">
                <a routerLink="../newproduct/create" class="create">Create Product</a>
            </div>
        </div>
        <div class="products-text">
            <p routerLink="/products/{{ userID }}" class="products-link">
                <i class="fa-solid fa-eye"></i>
                See all your products !
            </p>
        </div>

        <button class="button delete" (click)="userDelete()">Delete account</button>
        <p class="message">{{ message }}</p>
    </div>
</div>
