<div class="main-wrapper">
    <div *ngIf="isVisitorAllowed; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <div class="main-panel">
            <h1 class="title">{{title}}</h1>
            <p *ngIf="data.IsSeller && !data.Role" class="admin-text">Salesman</p>
            <p *ngIf="data.Role" class="admin-text">Admin</p>

            <div *ngIf="!isEditMode">
                <app-user-display [data]="data" [userID]="userID"></app-user-display>
                <div style="display: flex; flex-direction: row; margin-top: 3rem;">
                    <button *ngIf="isMe" class="button" (click)="toggleEditMode()">Modify
                        account</button>
                    <button *ngIf="data.IsSeller" class="button" (click)="createProduct()">Create Product</button>
                </div>
                <div class="products-text">
                    <p routerLink="/product/cars/user/self" class="products-link">
                        <i class="fa-solid fa-eye"></i>
                        See all your products !
                    </p>
                </div>
                <button class="button delete" (click)="userDelete()">Delete account</button>
            </div>

            <div *ngIf="isEditMode">
                <app-user-create-modify [data]="data"></app-user-create-modify>
                <div class="modify-buttons">
                    <button class="button" (click)="userModify()">Confirm</button>
                    <button class="button" (click)="toggleEditMode()">Back</button>
                </div>
            </div>
            <app-message [message]="message"></app-message>
        </div>
    </ng-template>
    <ng-template #elseBlock>
        <section id="forbidden">
            <h1 class="forbidden-title">403</h1>
            <h2 class="forbidden-subtitle">
                Access Denied.
            </h2>
            <h2 class="forbidden-subtitle">
                You must be an admin to see this information.
            </h2>
        </section>
    </ng-template>
</div>