.login-text {
    display: flex;
    justify-content: center;

    .login-link {
        cursor: pointer;
        font-size: 1em;
        color: #7187bc;
        text-decoration: none;
        text-align: center;
    }
}

.button {
    margin-top: 2rem;
}