<div class="wrapper">
    <div *ngIf="isVisitorAllowed; then thenBlock else elseBlock">
    </div>

    <ng-template #thenBlock>
        <section id="allowed">
            <h1 class="title">{{ targetUser.Name }}</h1>

            <p *ngIf="targetUser.Role == 'admin'" class="admin-text">Admin</p>
            <div class="line">
                <i class="fa-solid fa-at"></i>
                <input #email autofocus value="{{ targetUser.Email }}" class="input-form" type="text" id="email"
                    name="email" />
            </div>

            <div class="line">
                <i class="fa fa-user"></i>
                <input #username value="{{ targetUser.Name }}" class="input-form" type="text" id="username"
                    name="username" />
            </div>

            <div class="line">
                <i class="fa-solid fa-location-dot"></i>
                <input #adresse value="{{ targetUser.Adresse }}" class="input-form" type="text" id="adresses"
                    name="adresses" />
            </div>

            <div class="line">
                <i class="fa-solid fa-lock"></i>
                <input #password placeholder="Password" class="input-form" type="password" id="password"
                    name="password" />
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 3rem;">
                <button class="button" (click)="userModify(username.value, email.value, adresse.value, '')">Modify
                    account</button>
                <div style="display: flex; align-items: center; flex-direction: column;">
                    <a routerLink="../newproduct/create" class="create">Create Product</a>
                </div>
            </div>
            <div class="products-text">
                <p routerLink="/products/{{ paramID }}" class="products-link">
                    <i class="fa-solid fa-eye"></i>
                    See all of {{ targetUser.Name }} products !
                </p>
            </div>

            <button class="button delete" (click)="userDelete()">Delete account</button>
            <p class="message">{{ message }}</p>
        </section>
    </ng-template>

    <ng-template #elseBlock>
        <section id="forbidden">
            <h1 class="forbidden-title">403</h1>
            <h2 class="forbidden-subtitle">
                Access Denied.
            </h2>
            <h2 class="forbidden-subtitle">
                You must be an admin to see this information.
            </h2>
        </section>
    </ng-template>
</div>
