<div>
    <label for="name">name:</label>
    <input
        #name
        class="input-font"
        type="text"
        onfocus="if(this.value=='Enter Name here'){this.value='';}"
        onblur="if(this.value==''){this.value='Enter Name here';}"
        color=""
        id="name"
        name="name"
        value={{product.name}}
        (keyup.enter)="changeProduct(name.value, price.value, description.value)"
    /><br />
    <label for="price">price:</label>
    <input
        #price
        class="input-font"
        type="number"
        onfocus="if(this.value=='Enter price here'){this.value='';}"
        onblur="if(this.value==''){this.value='Enter price here';}"
        id="price"
        name="price"
        value={{product.price}}
        (keyup.enter)="changeProduct(name.value, price.value, description.value)"
    /><br />
    <label for="descriptions">description:</label>
    <input
        #description
        class="input-font"
        type="text"
        onfocus="if(this.value=='Enter description here'){this.value='';}"
        onblur="if(this.value==''){this.value='Enter description here';}"
        id="descriptions"
        name="descriptions"
        value={{product.description}}
        (keyup.enter)="changeProduct(name.value, price.value, description.value)"
    /><br />
    <button (click)="changeProduct(name.value, price.value, description.value)" type="button">
        Modify Product!</button
    ><br />
    <p>{{message}}</p>
</div>
