<div class="wrapper">
    <div class="main-panel">
        <div class="inner">
            <div class="user-title">
                <h1>
                    ADMIN
                </h1>
            </div>
            <hr class="solid">
            <div class="info-wrapper">
                <div class="button-panel">
                    <button class="button-admin" (click)="toggleUsers()">Users</button>
                    <button class="button-admin" (click)="toggleCompanies()">Companies</button>
                </div>
                <div *ngIf="showUsers">
                    <app-users></app-users>
                </div>
                <div *ngIf="showCompanies">
                    <app-companies></app-companies>
                </div>
            </div>
        </div>
    </div>
</div>