<div class="wrapper">
    <div class="main-panel">
        <div class="inner">
            <div class="user-title">
                <h1>
                    ADMIN
                </h1>
            </div>
            <hr class="solid">
            <div class="info-wrapper">
                <div class="button-panel">
                    <button class="button-admin" disabled>Users</button>
                    <!-- <button class="button-admin" (click)="toggleCompanies()">Companies</button> -->
                </div>
                <div>
                    <app-users></app-users>
                </div>
            </div>
        </div>
    </div>
</div>