

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    .main-panel {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        padding: 1rem 2rem 2rem 2rem;
        width: 80%;
        max-width: 100%;
        min-height: 20%;
        background: var(--cream);
        padding-bottom: 2rem;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    }

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;

        .user-title {
            display: flex;
            margin: 2rem 0 2rem 0;
            border: 3px solid #0f0f0f;
            border-radius: 5rem;
            background-color: white;
            width: 80%;
            justify-content: center;
    
            h1 {
                font-size: 50px;
                letter-spacing: 1rem;
            }
        }
    
        .info-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .button-panel {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
        
                .button-admin {
                    width: 45%;
                    height: 5rem;
                    padding: 1rem;
                    background: #7187bc;
                    display: block;
                    margin: auto;
                    border: none;
                    color: #fff;
                    font-size: large;
                    transition: all 0.2s;
                    cursor: pointer;
        
                    margin: 0;
                    border-radius: 0;
                    background: rgb(205, 205, 205);
                    color: black;
                    border: 0.1rem solid black;
        
                    &:hover {
                        // transform: scale(1.01);
                        box-shadow: 0 1px 3px #7187bc;
                    }
                
                    &:active {
                        // transform: scale(0.95);
                        border: 0.3 solid black;
                        outline: none;
                    }
        
                }
            }
        }
    }


}