.wrapper {
    display: flex;
    justify-content: center;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    border: 0.1rem solid;
    border-radius: 1rem;
    margin: 3rem 0 3rem 0;
    padding: 5rem 2rem 5rem 2rem;
    width: 75%;
    height: 50%;

    
    .car-title {
        display: flex;
        flex-direction: column;
        width: 90%;

        h1 {
            margin: 0 0 -1.5rem 0;
            font-size: 5rem;
        }

        .model-showcase {
            margin-top: 0;
            margin-bottom: -1rem;
            font-size: 2.5rem;
        }

        hr {
            width: 100%;
            margin-bottom: 4rem;
        }
    }

    .image-information-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 3rem;
        
        .image-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 500px;
            min-height: 300px;
            margin: 1rem 5rem 0 5rem;
        
            img {
                border: 1px solid;
                aspect-ratio: auto;
                max-width: 500px;
                max-height: 300px;
                min-width: 300px;
                min-height: 300px;
            }
            
            .button-image{
                display: flex;
                justify-content: center;
                align-self: center;
                gap: 8rem;

                .arrow {
                    top: 50%;
                    transform: translateY(10%);
                    background-color: transparent;
                    width: 20%;
                    color: black;
                    border: none;
                    font-size: 3rem;
                    cursor: pointer;
            
                    &:disabled {
                        cursor: default;
                        opacity: 0.5;
                    }
                }
            
                .left-arrow {
                    left: 0;
                }
            
                .right-arrow {
                    right: 0;
                }
            }
        }
    
        .informations-container {
            display: flex;
            flex-flow: column;
            width: 100%;
            min-width: 50rem;
            min-height: 30rem;
            height: 100%;
            border: 0.1rem solid;
            margin: 0;
            border-radius: 1rem;
            padding: 2rem 2rem 2rem 2rem;
            background-color: rgb(242, 240, 240);
    
            .hr-info {
                margin: 0.2rem 0 1rem 0;
                width: 100%;
                color: black;
            }
    
            .hr-title {
                margin: 0.2rem 0 4rem 0;
                width: 100%;
                color: black;
            }
    
            .details-title{
                margin-bottom: 0;
                font-size: large;
            }

            .detail {
                font-size: medium;
                padding-left: 1rem;
            }
    
            h1 {
                font-size: 3.5rem;
                margin: 4rem 0 0 0;
            }
    
            .text {
                margin: 0.4rem 0 0 0;
            }
    
            .showcase {
                font-size: large;
                color: gray;
                margin: 0;
            }
    
        }
    }
    
    .controls {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        margin-top: 3rem;
        column-gap: 1rem;
        row-gap: 1rem;

        a {
            background: linear-gradient(163deg, var(--light) 0%, var(--dark) 61%);
            border: none;
            color: #fff;
            padding: 1.5rem 4rem;
            border-radius: 1rem;
            box-shadow: 4px 4px 4px 0px var(--hard-shadow-color);
            cursor: pointer;

            &:hover {
                // background: linear-gradient(163deg, var(--gold) 10%, var(--light-gold));
                transform: scale(1.05);
                // color: black;
                transition: 0.2s;
            }

            &:active {
                transform: scale(0.98);
                transition: 0.1s;
            }
        }

        .back-btn {
            background: rgb(122, 162, 184);
        }

        .delete-btn {
            background: brown;
        }
    }

}

.simple-tab {
    width: 97%;
    margin: 10px auto 20px 20px;
}

.simple-tab,
.simple-tab th,
.simple-tab td {
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    color: #fff;
    background-color: hsl(0, 30%, 40%);
}

tr:nth-child(odd) {
    background-color: hsl(0, 10%, 80%);
}
