$back-color : var(--darker);

footer {
    background-color: $back-color;
    padding: 1.5rem 1rem;

    .footer-container {
        max-width: 1300px;
        margin: auto;

        h3 {
            color: var(--gold);
        }

        img {
            width: 32rem;
            margin: 1rem 0;
        }

        nav {
            display: flex;
            column-gap: 30%;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li a {
                    line-height: 2;
                    color: var(--cream);

                    i {
                        font-size: 15px;
                        width: 18px;
                    }
                }
            }
        }
    }
}