<div class="main-wrapper">
    <div class="main-panel">
        <h1 class="title">{{title}}</h1>

        <div *ngIf="!isEditMode">
            <app-company-display [data]="data"></app-company-display>
            <div style="display: flex; flex-direction: row; margin-top: 3rem;">
                <button class="button" (click)="toggleEditMode()">Modify
                    Company</button>
                <button class="button delete" (click)="userDelete()">Delete Company</button>
            </div>
        </div>

        <div *ngIf="isEditMode">
            <app-company-create-modify [data]="data"></app-company-create-modify>
            <div class="modify-buttons">
                <button class="button" (click)="userModify()">Confirm</button>
                <button class="button" (click)="toggleEditMode()">Back</button>
            </div>
        </div>
        <app-message [message]="message"></app-message>
    </div>
</div>