<div class="main-wrapper">
    <div class="main-panel car-panel">
        <h1 class="title">Create a new product</h1>
        <div class="values">
            <div>
                <div class="line" style="justify-content: flex-start;">
                    <i class="fa-solid fa-car" style="margin-right: 24px;"></i>
                    <div>
                        <select #brand class="brand-model" (change)="onBrandChange(brand.value)">
                            <option value="" disabled selected>Choose a brand</option>
                            <option *ngFor="let brand of brands" [value]="brand.id">{{brand.BrandName}}</option>
                        </select>
                    </div>
                    <div *ngIf="models.length > 0">
                        <select #model class="brand-model model" [(ngModel)]="product.ModelBrandID">
                            <option *ngFor="let model of models" [value]="model.id" >{{model.ModelName}}</option>
                        </select>
                    </div>
                </div>
                <div class="line">
                    <i class="fa-solid fa-calendar" style="padding: 0 1px 0 3px;"></i>
                    <input [(ngModel)]="product.Year" placeholder="Year of the product" class="input-form" type="number" id="year"
                        name="year" />
                </div>
                <div class="line">
                    <i class="fa-solid fa-eur" style="padding: 0 4px 0 3px;"></i>
                    <input [(ngModel)]="product.Price" placeholder="Price of the product in €" class="input-form" type="number" id="price"
                        name="price" />
                </div>
                <div class="line">
                    <i class="fa-solid fa-commenting"></i>
                    <input [(ngModel)]="product.Description" placeholder="Description of the product" class="input-form" type="text"
                        id="desc" name="desc" />
                </div>

                <div class="line">
                    <input #detailNameInput [(ngModel)]="carDetailName" class="details" placeholder="Detail Name">
                    <input [(ngModel)]="carDetailValue" class="details" placeholder="Detail Value"
                        (keydown.enter)="addCarDetail()">
                    <button (click)="addCarDetail()" class="detail-button button">+</button>
                </div>
                <div class="display-details">
                    <div *ngFor="let detail of carDetails; let i = index" class="detail-line line">
                        <input [(ngModel)]="detail.DetailName" class="details details-to-change" type="text"
                            placeholder="Detail Name">
                        <input [(ngModel)]="detail.DetailValue" class="details details-to-change" type="text"
                            placeholder="Detail Value">
                        <button (click)="carDetails.splice(i, 1)" class="detail-button button">-</button>
                    </div>
                </div>
            </div>
            <div class="add-image">
                <h3>Add image</h3>
                <div class="add-image-container">
                    <div *ngFor="let preview of imagePreviews; let i = index" >
                        <img [src]="preview" (click)="removeImage(i)">
                    </div>
                    <label *ngIf="imagePreviews.length !== 10" for="add-single-img">+</label>
                    <input type="file" (change)="onImagesSelected($event)" id="add-single-img" accept="image/jpeg"
                        multiple />
                </div>
            </div>
        </div>

        <div class="buttons">
            <button class="button create-button" (click)="addProduct()" type="button">
                Modify Product!</button><br />
            <button class="button create-button cancel-button " (click)="cancel()" type="button">
                Cancel!</button><br />
        </div>
        <app-message [message]="message"></app-message>
    </div>
</div>