.delete-main-wrapper {
    padding: 1rem 2rem;

    .delete-main-panel {
        width: 55%;
        align-items: center;
        margin-top: 10rem;
        padding: 2rem 25rem 5rem 25rem;
        background-color: rgba(240, 248, 255, 0.635);
        backdrop-filter: blur(9px);
        border-radius: 3rem;

        .delete-title {
            margin-bottom: 1rem;
            font-size: 5rem;
            border: 1px solid;
            border-radius: 2rem;
            background-color: azure;
            padding: 3rem 10rem;
        }

        .delete-button {
            background-color: var(--red);
            margin-top: 2rem;
            color: white;
            transition: 0.1s;
            cursor: pointer;

            &:hover {
                transform: scale(1.02);
                transition: 0.2s;
            }

            &:active {
                transform: scale(0.98);
                transition: 0.1s;
            }
        }
    }
}
