
// User Panel
.user-wrapper {
    display: flex;
    align-items: center;

    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 8rem 2rem;
}

.user-panel {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem 2rem 2rem 2rem;
    width: 50rem;
    max-width: 100%;
    min-height: 20%;
    background: var(--cream);
    padding-bottom: 2rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

    .title {
        color: var(--dark);
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #bebebe;
    }

    .create {
        background: #7187bc;
        border: none;
        color: #fff;
        padding: 1.5rem 5rem;
        width: 100%;
        border-radius: 1rem;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            box-shadow: 0 1px 3px #7187bc;
            transform: scale(1.01);
            transition: 0.2s;
        }

        &:active {
            border-bottom-width: 3px;
            transform: scale(0.95);
            outline: none;
            transition: 0.2s;
        }
    }

    .admin-text{
        color: var(--gold);
        background-color: var(--dark);
        font-weight: bold;
        text-align: center;
    }

    i {
        color: var(--dark);
        margin: 0 1rem 0 0;
    }

    .products-text {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        .products-link {
            cursor: pointer;
            font-size: 1em;
            color: #7187bc;
            text-decoration: none;
            text-align: center;
        }
    }

    .modify-buttons {
        display: flex; 
        flex-direction: row; 
        margin-top: 3rem;
    }

    .button {
        width: 45%;
        min-width: 13rem;
        height: 5rem;
        padding: 1rem;
        background: #7187bc;
        display: block;
        margin: auto;
        border: none;
        border-radius: 1rem;
        border-bottom-width: 7px;
        color: #fff;
        font-size: large;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            transform: scale(1.01);
            box-shadow: 0 1px 3px #7187bc;
            transition: 0.2s;
        }

        &:active {
            transform: scale(0.95);
            border-bottom-width: 3px;
            outline: none;
            transition: 0.2s;
        }
    }

    .delete{
        margin-top: 1rem;
        background-color: #b95071;
    }
}
