<footer>
    <div class="footer-container">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-handshake-angle"></i>
                        Sell on Generic
                    </a>
                </li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul>
                <li><a routerLink="/users">Users</a><br></li>
                <li><a routerLink="/auth/login">Login</a><br></li>
                <li><a routerLink="/me">Account</a><br></li>
            </ul>
        </nav>
    </div>
</footer>